.card {
  height: 11em;
  width: 23em;
  border: 0.2em solid #5a76fa;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0px 0px 20px -2px #00000080;
  padding: 0.5em;
}
.card > img {
  height: 9em;
}
.card:hover {
  transform: scale(1.01);
}
.cardInfos {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.cardInfos h2 {
  color: #008000;
}
.cardInfos > div {
  display: flex;
  justify-content: space-evenly;
}
.cardInfos > div > i {
  cursor: pointer;
  font-size: 1.2rem;
  color: #5a76fa;
}
#cart-icon {
  color: #00c000;
}
#trash-icon {
  color: #ff0000;
}
