main {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-image: linear-gradient(#fff, #cad4ef);
  border-radius: 0px 0px 15px 15px;
}
.card-container{
 display: flex; 
}
image {
  height: 9em;
}
