header {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #cad4ef;
  background-image: linear-gradient(#cad4ef, #fff);
  border-radius: 15px 15px 0px 0px;
}
header > input {
  height: 1em;
}
header > i {
  font-size: xx-large;
  color: #5a76fa;
  cursor: pointer;
}
