.app-container {
  padding: 0.5em;
}
.modal-background {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000006d;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
